<configuration>
  <connectionStrings>
    <add name="CampusDB"
         connectionString="Server=127.0.0.1;Port=3306;Database=CampusMaintenance;Uid=campususer;Pwd=Campus@123;SslMode=None;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
	</system.web>
</configuration>
